div.chart {
  font-family: sans-serif;
  font-size: 0.7em;
}

div.category {
  color: White;
  background-color: Black;
  padding: 15px;
  border-radius: 10px;
  margin-left: 20px;
  line-height: 1em;
  margin-bottom: 15px;
}

div.category-text-value {
  margin-left: 40px;
}

span.label-wrapper {
  width: 100px;
  display: inline-block;
}

span.sub-label-wrapper {
  width: 100px;
  display: inline-block;
}

div.category-text-value,
div.label {
  color: White;
  background-color: DarkGrey;
  padding: 15px;
  border-radius: 10px;
}

div.label {
  margin-top: 10px;
  margin-left: 40px;
}

div.sub-label {
  color: White;
  background-color: LightGrey;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-left: 60px;
}

div.bar {
  margin-left: 20px;
  background-color: DarkRed;
  border-radius: 20px;
  color: white;
  padding: 10px;
  padding-left: 1em;
  padding-right: 2em;
  text-align: center;
  display: inline-block;
}

div.amount-bar {
  margin-left: 20px;
  background-color: Gold;
  border-radius: 20px;
  color: white;
  padding: 10px;
  padding-left: 1em;
  padding-right: 2em;
  text-align: center;
  display: inline-block;
}

div.label-text-value {
  margin-left: 20px;
  /*padding-right: 10em;*/
  display: inline-block;
}

span.spacer {
  width: 100%;
  display: inline-block;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
}

@media only screen
and (min-device-width : 481px)
and (max-device-width : 1024px) {
  div.chart {
    font-size: 1.0em;
  }
}

@media only screen
and (min-width : 1025px) {
  div.chart {
    font-size: 1.5em;
  }

  div.category {
    margin-left: 40px;
    margin-bottom: 30px;
  }

  div.category-text-value {
    margin-left: 80px;
  }

  span.label-wrapper {
    color: DarkRed;
    width: 200px;
  }

  span.sub-label-wrapper {
    color: Purple;
    width: 200px;
  }

  div.label {
    margin-top: 20px;
    margin-left: 80px;
  }

  div.sub-label {
    margin-left: 120px;
  }

  div.bar {
    margin-left: 40px;
  }

  div.amount-bar {
    margin-left: 40px;
  }

  div.label-text-value {
    margin-left: 40px;
  }
}